<section>
    <p> Bonjour {{user.name}}, {{user.firstname}} !</p>
</section>
<section>
    <form method="get" action="/users/logout">
        <div>
            <input type="submit" value="Me Déconnecter">
        </div>
    </form>
</section>