<section>
    <h1>Page consacrée aux Exolunes.</h1>

    <p>
        Une lune extrasolaire, exolune, un satellite extrasolaire, ou encore un exosatellite, est un satellite
naturel qui orbite autour d’une exoplanète ou d'un autre corps extrasolaire plus grand que lui. <br> <br>
Bien qu'aucun objet de ce type n’ait encore été formellement découvert, ilest raisonnable de penser
que leur existence est très probable et qu'ils existent en très grand nombre, d'après l'étude
empirique des satellites naturels de notre Système solaire ; quelques candidats sont déjà suspectés
d'être des exolunes. Lamajorité des exoplanètes détectées à ce jour sont des géantes gazeuses ; or,
dans notre Système solaire, les géantes gazeuses ont de nombreux satellites naturels (voir satellites
de Jupiter et satellites de Saturne). Cependant, leur détection demeure extrêmement difficile avec
les techniques actuelles1.
    </p>
    <img src="images/Polyphemus_and_Pandora.jpeg" alt="illustration exoplanète" class="img" />
    <br>

    <p>
        Image issue de :  
        <a 
    href="https://commons.wikimedia.org/w/index.php?curid=13118474"
    title="Droit d'auteur" 
    target="_blank">Droit d'auteur
        </a>
    </p>
    <ul>
        {{#each listeexolunes}}
        <li>
            {{this.name}}
        </li>
        {{/each}}
    <ul>
    <p>
        {{this.date}}
    </p>
</section>