<section>
    <h1>Forum de discussion</h1>
    <table>
        <thead>
            <tr>
                <th>Message</th>
                <th>Auteur</th>
            </tr>
        </thead>
        <tbody>
            {{#each listeCommentaires}}
            <tr>
                <td>{{message}}</td>
                <td>{{auteur}}</td>
            </tr>
            {{/each}}
    </table>
    <form action="/forum/add" method="post">
        <label>Message</label>
        <input type="text" name="message">
        <label>Auteur</label>
        <input type="text" name="auteur">
        <input type="submit" value="Envoyer">
    </form>
</section>