<section>
    <h1>Bienvenue sur le site d'apprentissage du Javascript et dédié aux ExoPlanètes.</h1>

    <h3>Qu'est-ce qu'une exoplanète?</h3>
    <p>
        Une exoplanète est une planète située en-dehors du Système solaire, autrement dit :
        elle orbite autour d'une étoile autre que le Soleil. <br>
        La plupart des exoplanètes découvertes à ce jour sont situées à moins de 400 années-lumière de notre Système
        solaire.
        Une année-lumière équivaut approximativement à 9.460 milliards de km.
    </p>
    <img src="images/exoplanet.jpg" alt="illustration exoplanète" class="img" />

    <p>
        Les méthodes de détection utilisées sont principalement la méthode des vitesses radiales, qui déduit la présence
        d'une planète à travers l'incidence de son attraction gravitationnelle sur la vitesse radiale de son étoile, et
        la méthode du transit, qui identifie une planète lorsque celle-ci passe devant son étoile en mesurant
        l'affaiblissement de l'intensité lumineuse de l'astre. Un biais découlant de ces méthodes a abouti à la
        détection d'une majorité de planètes aux caractéristiques très différentes de celles présentes dans le Système
        solaire, en particulier l'abondance de Jupiter chaud, planètes gazeuses très proches de leur étoile hôte. Ces
        nouveaux types de planète ont néanmoins entraîné une remise en cause radicale des modèles de formation des
        systèmes planétaires qui avaient été élaborés en se basant sur le seul Système solaire. Depuis que les méthodes
        de détection se sont améliorées, les études8 visent également à mettre en évidence des planètes aux
        caractéristiques proches de celles de la Terre orbitant dans la zone habitable de leur étoile.
    </p>
    <h3>Quelques exoplanètes ... </h3>
    <ul class="exolist">
        <li>Trappist-1 d</li>
        <li>Gliese 581 g</li>
        <li>Kepler-186 f</li>
    </ul>

    <p>{{today}}</p>

</section>