<section>
    <h1>Page consacrée aux Exolunes</h1>
    <p>
        Une lune extrasolaire, exolune, un satellite extrasolaire, ou encore un exosatellite, 
        est un satellite naturel qui orbite autour d’une exoplanète ou d'un autre corps extrasolaire plus grand que lui.  
    </p>
    <p>
        Bien qu'aucun objet de ce type n’ait encore été formellement découvert, il est raisonnable de penser que leur existence est très probable 
        et qu'ils existent en très grand nombre, d'après l'étude empirique des satellites naturels de notre Système solaire ; 
        quelques candidats sont déjà suspectés d'être des exolunes. La majorité des exoplanètes détectées à ce jour sont des géantes gazeuses ; 
        or, dans notre Système solaire, les géantes gazeuses ont de nombreux satellites naturels 
        (voir satellites de Jupiter et satellites de Saturne). 
        Cependant, leur détection demeure extrêmement difficile avec les techniques actuelles1.
    </p>
    <img src="images/Polyphemus_and_Pandora.jpeg" alt="exolune_photo" class="img">

    <ul>
        {{#each exolunesList }}
            <li>{{this}}</li>
        {{/each}}
    </ul>

</section>